.canvasContainer {
  width: 100%;
  position: relative;
}

.remaining {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 0px;
  margin: 0px;
  font-size: 10em;
  vertical-align: bottom;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

meter {
  width: 100%;
  position: relative;
}

#meterPercent {
  float: right;
}
