.canvasContainer {
  width: 100%;
}

.remaining {
  padding: 0px;
  margin: 0px;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.6);
}

meter {
  width: 100%;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: 1px solid #ccc;
}

meter::-webkit-meter-bar {
  background: transparent;
  border: 1px solid #ccc;
}

meter::-moz-meter-bar {
  background: #ccc;
}

meter::-webkit-meter-optimum-value {
  background: #ccc;
}

#meterPercent {
  float: right;
}

section {
  margin-top: 20px;
}

.close {
  color: #fff;
}
