.canvasContainer {
  width: 100%;
}

.remaining {
  padding: 0px;
  margin: 0px;
  font-size: 10em;
  color: rgba(255, 255, 255, 0.6);
}

meter {
  width: 100%;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: 1px solid #ccc;
}

meter::-webkit-meter-bar {
  background: transparent;
  border: 1px solid #ccc;
}

meter::-moz-meter-bar {
  background: #ccc;
}

meter::-webkit-meter-optimum-value {
  background: #ccc;
}

#meterPercent {
  float: right;
}

section {
  margin-top: 20px;
}

.close {
  color: #fff;
}

#dob {
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

footer {
  padding: 20px;
  text-align: right;
}

.survey {
  text-align: center;
}
